body {
  margin: 0;
  padding: 0;
}

$theme-color: rgb(107, 77, 236);

.main {
  padding: 5px;
  height: 100vh;
  width: inherit;
  display: flex;
  flex-direction: column;
  background: rgb(218, 226, 236);
}

.logo {
  &__container {
    padding: 10px;
    height: 30px;
    display: flex;
    justify-content: end;
    align-self: flex-end;
  }

  &__img {
    height: inherit;
  }
}

.container {
  margin: 0 auto;
  padding: 15px;
  height: fit-content;
  width: 80vw;
  background-color: white;
  border-radius: 17px;
}

.header {
  height: 150px;
  width: inherit;
  position: relative;
  background-image: url("assets/header-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 17px;

  &__map {
    top: 20px;
    left: 20px;
    position: absolute;
    color: $theme-color;

    &__icon {
      font-size: 5px;
      color: $theme-color;
    }

    &__text {
      display: inline;
      color: $theme-color;
    }

    &__img {
      display: block;
    }
  }
}

.forecast {
  height: fit-content;
  width: inherit;
  display: flex;
  flex-direction: column;
  text-align: center;

  &__card {
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 17px;
    border: 0.1px solid;
    border-color: rgba($theme-color, 0.2);
  }
}

.card {
  &__img {
    margin: 10px;
    height: 50px;
    width: 70px;
  }

  &__part1 {
    margin-left: 5px;
    display: inherit;
    align-items: center;
  }

  &__part2 {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    background-color: $theme-color;
    border-radius: 17px;
  }
}

.text {
  &__day {
    margin-bottom: 0;
    font-weight: bolder;
    font-size: 24px;
  }

  &__weather {
    margin-top: 3px;
  }
}

.humidity__symbol {
  font-size: 12px;
  vertical-align: super;
}
