body {
  margin: 0;
  padding: 0; }

.main {
  padding: 5px;
  height: 100vh;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #dae2ec; }

.logo__container {
  padding: 10px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-item-align: end;
      align-self: flex-end; }
.logo__img {
  height: inherit; }

.container {
  margin: 0 auto;
  padding: 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 80vw;
  background-color: white;
  border-radius: 17px; }

.header {
  height: 150px;
  width: inherit;
  position: relative;
  background-image: url("assets/header-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 17px; }
  .header__map {
    top: 20px;
    left: 20px;
    position: absolute;
    color: #6b4dec; }
    .header__map__icon {
      font-size: 5px;
      color: #6b4dec; }
    .header__map__text {
      display: inline;
      color: #6b4dec; }
    .header__map__img {
      margin-top: 15px;
      height: 40px;
      width: 70px;
      display: block; }

.contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }

.forecast {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: inherit; }
  .forecast__card {
    height: 100px;
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 17px;
    border: 0.1px solid;
    border-color: rgba(107, 77, 236, 0.2); }

.card__img {
  margin: 10px;
  height: 50px;
  width: 70px; }
.card__part1 {
  margin-left: 5px;
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
.card__part2 {
  height: 100px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 20px;
  background-color: #6b4dec;
  border-radius: 17px; }

.text__day {
  margin-bottom: 0;
  font-weight: bolder;
  font-size: 24px; }
.text__weather {
  margin-top: 3px;
  text-align: left; }

.humidity__symbol {
  font-size: 12px;
  vertical-align: super; }

.places {
  margin: 15px auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 250px; }
  .places__cards {
    height: 700px; }
  .places__text {
    margin-bottom: 15px;
    padding-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 34px; }
  .places__1 {
    height: 300px;
    background-image: url("https://stephanie-dommartin.fr/wp-content/uploads/2019/11/Dommartin-coach-coachprofessionnel-accompagnementduchangment-394x512.jpg"); }
  .places__2 {
    height: 100px;
    background-image: url("https://static.dezeen.com/uploads/2019/05/met-camp-notes-on-fashion-design-exhibit-new-york-city-usa_dezeen_2364_col_2.jpg"); }
  .places__3 {
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-image: url("http://inventiba.online/wp-content/uploads/2017/04/142.jpg"); }
    .places__3__text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: baseline;
          -ms-flex-align: baseline;
              align-items: baseline; }
  .places__icon {
    color: white; }
  .places__name {
    margin-left: 7px;
    width: 50px;
    text-align: justify; }
  .places__plus {
    height: 150px;
    width: 70px;
    color: white;
    font-size: 25px;
    font-weight: lighter;
    background-color: #6b4dec;
    border-radius: 40px;
    border: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.reviews {
  margin-bottom: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .reviews__title {
    font-weight: lighter; }
  .reviews__userPhoto {
    height: 30px;
    width: 30px;
    border-radius: 7px;
    cursor: pointer; }
  .reviews__plus {
    height: 30px;
    width: 30px;
    background-color: #a290f3;
    border: none;
    border-radius: 7px;
    cursor: pointer; }

.lyon__card {
  height: 100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

/*# sourceMappingURL=style.css.map */