body {
  margin: 0;
  padding: 0;
}

$theme-color: rgb(107, 77, 236);

.main {
  padding: 5px;
  height: 100vh;
  width: inherit;
  background: rgb(218, 226, 236);
}

.logo {
  &__container {
    padding: 10px;
    height: 30px;
    display: flex;
    justify-content: end;
  }

  &__img {
    height: inherit;
  }
}

.container {
  margin: auto;
  padding: 15px;
  height: fit-content;
  width: 80vw;
  background-color: white;
  border-radius: 17px;
}

.header {
  height: 150px;
  width: inherit;
  position: relative;
  background-image: url("assets/header-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 17px;

  &__map {
    top: 20px;
    left: 20px;
    position: absolute;
    color: $theme-color;

    &__icon {
      font-size: 5px;
      color: $theme-color;
    }

    &__text {
      display: inline;
      color: $theme-color;
    }

    &__img {
      display: block;
    }
  }
}
